<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>hello</title>
    <link href="../../Content/bootstrap.min.css" rel="stylesheet">
    <link href="../../Content/extra.css" rel="stylesheet">
    <!--[if lt IE 9]><script r='m'>document.createElement("section")</script><![endif]-->
</head>

<body>
    <div class="bg">


        <div style="height:3em;"></div>
        <div class="container mt_100">
            <div class="row">
                <div class="col-md-4">
                    <a class="buttbm"
                        href="https://passport.neea.cn/NCRELogin?ReturnUrl=https://ncre-bm.neea.cn/Home/VerifyPassport/?LoginType=0|13&amp;Safe=1"
                        title="河北省考生登录入口">
                        <span>（13）</span><span>河北省</span>
                    </a>
                </div>
                <div class="col-md-4">
                    <a class="buttbm"
                        href="https://passport.neea.cn/NCRELogin?ReturnUrl=https://ncre-bm.neea.cn/Home/VerifyPassport/?LoginType=0|14&amp;Safe=1"
                        title="山西省考生登录入口">
                        <span>（14）</span><span>山西省</span>
                    </a>
                </div>
                <div class="col-md-4">
                    <a class="buttbm"
                        href="https://passport.neea.cn/NCRELogin?ReturnUrl=https://ncre-bm.neea.cn/Home/VerifyPassport/?LoginType=0|15&amp;Safe=1"
                        title="内蒙古自治区考生登录入口">
                        <span>（15）</span><span>内蒙古自治区</span>
                    </a>
                </div>
            </div>
        </div>
        <div style="height:3em;"></div>
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <a class="buttbm"
                        href="https://passport.neea.cn/NCRELogin?ReturnUrl=https://ncre-bm.neea.cn/Home/VerifyPassport/?LoginType=0|23&amp;Safe=1"
                        title="黑龙江省考生登录入口">
                        <span>（23）</span><span>黑龙江省</span>
                    </a>
                </div>
                <div class="col-md-4">
                    <a class="buttbm"
                        href="https://passport.neea.cn/NCRELogin?ReturnUrl=https://ncre-bm.neea.cn/Home/VerifyPassport/?LoginType=0|32&amp;Safe=1"
                        title="江苏省考生登录入口">
                        <span>（32）</span><span>江苏省</span>
                    </a>
                </div>
                <div class="col-md-4">
                    <a class="buttbm"
                        href="https://passport.neea.cn/NCRELogin?ReturnUrl=https://ncre-bm.neea.cn/Home/VerifyPassport/?LoginType=0|35&amp;Safe=1"
                        title="福建省考生登录入口">
                        <span>（35）</span><span>福建省</span>
                    </a>
                </div>
            </div>
        </div>
        <div style="height:3em;"></div>
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <a class="buttbm"
                        href="https://passport.neea.cn/NCRELogin?ReturnUrl=https://ncre-bm.neea.cn/Home/VerifyPassport/?LoginType=0|36&amp;Safe=1"
                        title="江西省考生登录入口">
                        <span>（36）</span><span>江西省</span>
                    </a>
                </div>
                <div class="col-md-4">
                    <a class="buttbm"
                        href="https://passport.neea.cn/NCRELogin?ReturnUrl=https://ncre-bm.neea.cn/Home/VerifyPassport/?LoginType=0|37&amp;Safe=1"
                        title="山东省考生登录入口">
                        <span>（37）</span><span>山东省</span>
                    </a>
                </div>
                <div class="col-md-4">
                    <a class="buttbm"
                        href="https://passport.neea.cn/NCRELogin?ReturnUrl=https://ncre-bm.neea.cn/Home/VerifyPassport/?LoginType=0|41&amp;Safe=1"
                        title="河南省考生登录入口">
                        <span>（41）</span><span>河南省</span>
                    </a>
                </div>
            </div>
        </div>
        <div style="height:3em;"></div>
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <a class="buttbm"
                        href="https://passport.neea.cn/NCRELogin?ReturnUrl=https://ncre-bm.neea.cn/Home/VerifyPassport/?LoginType=0|44&amp;Safe=1"
                        title="广东省考生登录入口">
                        <span>（44）</span><span>广东省</span>
                    </a>
                </div>
                <div class="col-md-4">
                    <a class="buttbm"
                        href="https://passport.neea.cn/NCRELogin?ReturnUrl=https://ncre-bm.neea.cn/Home/VerifyPassport/?LoginType=0|45&amp;Safe=1"
                        title="广西壮族自治区考生登录入口">
                        <span>（45）</span><span>广西壮族自治区</span>
                    </a>
                </div>
                <div class="col-md-4">
                    <a class="buttbm"
                        href="https://passport.neea.cn/NCRELogin?ReturnUrl=https://ncre-bm.neea.cn/Home/VerifyPassport/?LoginType=0|51&amp;Safe=1"
                        title="四川省考生登录入口">
                        <span>（51）</span><span>四川省</span>
                    </a>
                </div>
            </div>
        </div>
        <div style="height:3em;"></div>
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <a class="buttbm"
                        href="https://passport.neea.cn/NCRELogin?ReturnUrl=https://ncre-bm.neea.cn/Home/VerifyPassport/?LoginType=0|52&amp;Safe=1"
                        title="贵州省考生登录入口">
                        <span>（52）</span><span>贵州省</span>
                    </a>
                </div>
                <div class="col-md-4">
                    <a class="buttbm"
                        href="https://passport.neea.cn/NCRELogin?ReturnUrl=https://ncre-bm.neea.cn/Home/VerifyPassport/?LoginType=0|53&amp;Safe=1"
                        title="云南省考生登录入口">
                        <span>（53）</span><span>云南省</span>
                    </a>
                </div>
                <div class="col-md-4">
                    <a class="buttbm"
                        href="https://passport.neea.cn/NCRELogin?ReturnUrl=https://ncre-bm.neea.cn/Home/VerifyPassport/?LoginType=0|54&amp;Safe=1"
                        title="西藏自治区考生登录入口">
                        <span>（54）</span><span>西藏自治区</span>
                    </a>
                </div>
            </div>
        </div>
        <div style="height:3em;"></div>
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <a class="buttbm"
                        href="https://passport.neea.cn/NCRELogin?ReturnUrl=https://ncre-bm.neea.cn/Home/VerifyPassport/?LoginType=0|61&amp;Safe=1"
                        title="陕西省考生登录入口">
                        <span>（61）</span><span>陕西省</span>
                    </a>
                </div>
                <div class="col-md-4">
                    <a class="buttbm"
                        href="https://passport.neea.cn/NCRELogin?ReturnUrl=https://ncre-bm.neea.cn/Home/VerifyPassport/?LoginType=0|62&amp;Safe=1"
                        title="甘肃省考生登录入口">
                        <span>（62）</span><span>甘肃省</span>
                    </a>
                </div>
                <div class="col-md-4">
                    <a class="buttbm"
                        href="https://passport.neea.cn/NCRELogin?ReturnUrl=https://ncre-bm.neea.cn/Home/VerifyPassport/?LoginType=0|64&amp;Safe=1"
                        title="宁夏回族自治区考生登录入口">
                        <span>（64）</span><span>宁夏回族自治区</span>
                    </a>
                </div>
            </div>
        </div>
        <div style="height:3em;"></div>
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <a class="buttbm"
                        href="https://passport.neea.cn/NCRELogin?ReturnUrl=https://ncre-bm.neea.cn/Home/VerifyPassport/?LoginType=0|65&amp;Safe=1"
                        title="新疆维吾尔自治区考生登录入口">
                        <span>（65）</span><span>新疆维吾尔自治区</span>
                    </a>
                </div>
            </div>

            <!-- <div class="container">
                <div class="row">
                    <div class="col-xs-12 col-md-12" style="line-height:18px;float:left;text-align: center">

                        <span class="footer_title" style="color:#666;font-size:11px;display:block;padding:1em 0">
                            COPYRIGHT 中华人民共和国教育部考试中心 All RIGHTS RESERVED<br>
                            京ICP备05064772号 <br>(Powered by :114311C)
                        </span>

                    </div>
                </div>
            </div> -->
            <script src="https://hm.baidu.com/hm.js?dceab108ab42640b8666511e78a6f1a3"></script>
            <script src="https://hm.baidu.com/hm.js?9b22728ccf36ad4f6e06eaa690f9c135"></script>
            <script>
                // var _hmt = _hmt || [];
                // (function () {
                //     var hm = document.createElement("script");
                //     hm.src = "https://hm.baidu.com/hm.js?9b22728ccf36ad4f6e06eaa690f9c135";
                //     var s = document.getElementsByTagName("script")[0];
                //     s.parentNode.insertBefore(hm, s);
                // })();
            </script>


            <script>
                // var _hmt = _hmt || [];
                // (function () {
                //     var hm = document.createElement("script");
                //     hm.src = "https://hm.baidu.com/hm.js?dceab108ab42640b8666511e78a6f1a3";
                //     var s = document.getElementsByTagName("script")[0];
                //     s.parentNode.insertBefore(hm, s);
                // })();
            </script>

        </div>
    </div>
   
    <script src="../../js/jquery.min.js"></script>
    <script src="../../js/bootstrap.min.js"></script>
</body>
</html>