<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>准易教育研究院-找回密码</title>
    <link href="../../Content/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="../../Content/login.css">
</head>

<body>

    <script src="../../myJs/head.js"></script>


    <div class="jm-banner">
        <div class="container" style="padding: 0;">
            <div class="banner-text">
                <a href="http://www.juming.com/reg.htm" target="_blank">
                    <img src="../../images/banner-text1216.png" alt="域名注册促销季" width="500">
                </a>
            </div>
            <div class="register-box">

                <div class="form-reg form-reg2">
                    <div class="title">
                        <h3>找回密码</h3>
                    </div>
                    <ul style="padding-left: 0px;">
                        <li>
                            <i class="icard"></i>
                            <input type="text" class="form-control" aria-label="..." placeholder="请输入身份证号" id="card"
                                style="height:44px;background: none;border: none;color: white;">
                        </li>
                        <li>
                            <i class="iname"></i>
                            <input type="text" class="form-control" aria-label="..." placeholder="请输入姓名" id="name"
                                style="height:44px;background: none;border: none;color: white;">
                        </li>

                        <li>
                            <input class="button" type="button" id="lo_dl" onclick="queryPwd()" value="查询密码">
                        </li>



                    </ul>

                    <Span id="s-msg" style="color: red;"></Span>
                </div>
            </div>
        </div>
    </div>



    <script src="../../myJs/footer.js"></script>



    <script src="../../js/easyui/jquery.min.js"></script>
    <script src="../../js/easyui/bootstrap.min.js"></script>
    <script src="../../myjs/login.js"></script>
</body>


</html>